* {
    box-sizing: border-box;
}

.center {
    padding-right: 25rem;
    padding-left: 25rem;
    padding-top: 8rem;
    height: 100vh;
} 

.form-container {
    padding: 30px;
    background-color: rgb(221, 221, 221);
}
 
.form-input {
    position: relative;
    margin: 20px;
}

.form-input:hover {
    opacity: 0.8;
}

.i-before{
    position: absolute;
    top: 13px;
    left: 10px;
}

.i-after{
    position: absolute;
    top: 13px;
    right: 5px;
}

.form-input-tag {
    width: 100%;
    height: 39px;
    padding-left: 41px;
}

.decorate-heading {
    display: flex;
    justify-content: center;
    color:green;
    font-family: 'Ubuntu', sans-serif;
}

.form-sign-in-button {
    background-color: green;
    width: 100%;
    height: 38px;
    border: 0px;
    border-radius: 12px;
    color: white;
}

.form-sign-in-button:hover {
    opacity: 0.80;
}

.md-round {
    border-radius: 4px;
}